<center><h1>Search Results for Category: <%= @categories.first.category %></h1><br><br>
  
<% @categories.each do |meme| %>
  <%= image_tag meme.photo.url(:thumb), class: "media-object" %>
  <a href="<%= meme.photo.url %>">Larger</a><br>
  <%= meme.photo.url %><br>
  Category: <%= meme.category %><br><br>
<% end %>
</center>
