<!DOCTYPE html>
<html>
<head>
  <title>Memer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="navbar-brand" style = "font-family: Cursive"><%= link_to "Teamemer!", root_path%></ul>
        <% if user_signed_in? %>
          <p class="navbar-text">Signed in as <%= current_user.email %></p>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Home", root_path%></li>
            <li><%= link_to 'Create Message', new_message_path %></li>
            <li><%= link_to("Log Out", destroy_user_session_path, :method => :delete) %></li><br><br>
          <% else %>
            <p class="notice"><%= notice %></p>
            <font color="red" class="alert"><%= alert %></font>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
</div>

</body>
</html>
